html {
  font-family: Lato, sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
  color: #333;
  box-sizing: border-box;
}

h2 {
  font-weight: bold;
  font-family: Lato, sans-serif;
}

body {
  margin: 0;
  vertical-align: middle;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
  padding: 1em;
}

div {
  max-width: 25em;
  padding: 2em;
  display: inline-block;
  text-align: left;
}

.btn {
  text-decoration: none;
  padding: .5em .75em;
  border-radius: .3em;
  font-weight: normal;
  font-family: sans-serif;
  border: 3px solid #333;
  color: #333;
  text-align: center;
}

a:hover {
  background-color: #666;
  color: #fff;
  border: 3px solid #666;
}
